#root{
    
}

body { 
background-image: url('https://cdn.shopify.com/s/files/1/1216/7410/products/pink-tower-brown-stairs-set-figure_1024x1024.jpg?v=1512748515'  );
background-repeat: no-repeat;
background-color: pink;

}

#navigation {
    background-color: rgb(32, 9, 9);
}

